<table class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opcje</th>
    </tr>
  </thead>
  <tbody>
    {{#each notes as |note|}}
      <tr>
        <td>
          {{#link-to 'note' note}}{{note.name}}{{/link-to}}
        </td>
        <td>
          {{remove-note-link note=note}}
        </td>
     </tr>
    {{/each}}
  </tbody>
</table>
