{{!-- <table class="table table-striped">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opcje</th>
    </tr>
  </thead>
  <tbody>
    {{#each notes as |note|}}
      <tr>
        <td>
          {{#link-to 'note' note}}{{note.name}}{{/link-to}}
        </td>
        <td>
          {{remove-note-link note=note}}
        </td>
     </tr>
    {{/each}}
  </tbody>
</table> --}}


{{#each notes as |note|}}
      {{#paper-item}}

        <p>{{#link-to 'note' note}}{{note.name}}{{/link-to}}</p>
        {{#paper-button icon-button=true param=note action="remove"}}
          {{paper-icon "delete"}}
        {{/paper-button}}
      {{/paper-item}}
    {{/each}}
